* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 0.9rem;

	/* color: white; */
}

body{
	background: rgb(32, 32, 32);
	width: 100vw;
	height: 100vh;
	display: grid;
	place-items: center; 
}

.app {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	/* display: grid;
	place-items: center; */
	
	flex-direction: column;
	position: relative;
	min-height: 650px;
	min-width: 350px;
	max-width: 600px;
	max-height: 900px;
	background: rgb(39, 39, 39);
}

.settings_icon {
	height: 30px;
	position: absolute;
	left: 5px;
	top: 0px;
	z-index: 1;
}
