*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: .9rem;


	color: white;
}

.app {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	flex-direction: column;
	position: relative;
	background: rgb(39, 39, 39);
}

.settings_icon{
	height: 40px;
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 1;
}








